*{
  box-sizing: border-box;
}
body {
  background: #010202;
  font-family: 'Source Sans Pro', sans-serif;
}
.app {
  background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 90%);
  min-height: 100vh;
  color: #FFFFFF;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user {
  display: flex;
  align-items: center;
}
.user-name {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 15px;
}
.film {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 7% 0;
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 0.4;
  color: #E5E5E5;
  font-size: 16px;
  line-height: 140%;
}
.tags > * {
  margin-right: 15px;
  margin-bottom: 10px;
}
.age {
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px 5px;
  font-size: 14px;
}
.description {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}
.button {
  padding: 11px 26px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 140%;
  background: #2F2F2F;
  color: #FFFFFF;
  cursor: pointer;
}
.button-primary {
  background: #EA6E20;
  margin-right: 15px;
}
.button-text .button-text-order {
  margin-left: 10px;
  vertical-align: text-bottom;
}

.order-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}
.order-box-open {
  display: flex;
}
.order-box h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}
.order-box .user-box {
  position: relative;
}
.order-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  background: transparent;
}
.order-box .user-box input:focus~label,
.order-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #EA6E20;
  font-size: 12px;
}

.order-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #FFFFFF;
  pointer-events: none;
  transition: .5s;
}
.order-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}
.order-box a:hover {
  background: #EA6E20;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 5px #EA6E20,
    0 0 25px #EA6E20,
    0 0 50px #EA6E20,
    0 0 100px #EA6E20;
}
.order-box a span {
  position: absolute;
  display: block;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.order-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #EA6E20);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}
.order-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #EA6E20);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}
.order-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #EA6E20);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
.order-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #EA6E20);
  animation: btn-anim1 1s linear infinite;
}

@media (max-width: 768px) {
  .app {
    height: auto;
    padding-bottom: 400px;
    background: url('../img/cover-image.jpg') no-repeat bottom center / 300px;
  }
  video {
    display: none;
  }
  .film {
    padding-top: 2%;
  }
  .description {
    font-size: 16px;
    max-width: 333px;
  }
  .film-logo {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .app {
    padding-bottom: 300px;
    background-size: 300px;
  }
  .user-name {
    display: none;
  }
  .button-text {
    display: none;
  }
  .button {
    margin-bottom: 10px;
  }
}
